@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --max-width: 1100px;
  --primary-color: #333;
  --secondary-color: #f7c08a;
  --light-color: #f3f3f3;
  --nav-height: 51px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  background: var(--light-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Ultilities */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  overflow: auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: var(--primary-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.btn a {
  color: #fff;
}

.btn:hover a {
  color: var(--primary-color);
}

.btn:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn:focus {
  outline: none;
}

.login-btn,
.signup-btn {
  margin: 0 10px;
  width: 105px;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0 30px;
  z-index: 10;
  /* height: 7.2vh; */
  height: 51px;
}

#navbar .logo a {
  color: #fff;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  padding: 1rem;
  position: relative;
}

#navbar ul li a {
  color: #fff;
  margin: 0 5px;
}

#navbar ul li:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--primary-color);
}

#navbar ul li:hover a {
  color: var(--primary-color);
}

/* Nav Dropdown */
#navbar ul li ul {
  display: none;
}

#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: var(--primary-color);
}

#navbar ul li:hover ul li a {
  color: #fff;
}

#navbar ul li:hover ul li:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

#navbar ul li:hover ul li:hover a {
  color: var(--primary-color);
}

/* Welcome */
#welcome {
  background: url("/images/showcase.jpg") no-repeat center center / cover;
  position: relative;
  /* height: 600px; */
  height: calc(100vh - var(--nav-height));
}

#welcome .welcome-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#welcome .welcome-content h1 {
  font-size: 60px;
  line-height: 1.2;
}

#welcome .welcome-content p {
  padding-bottom: 20px;
  line-height: 1.7;
}

#welcome:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

#welcome * {
  position: relative;
  z-index: 1;
}

/* Home */
.Home .showcase {
  background: url("/images/showcase2.jpg") no-repeat center center / cover;
  position: relative;
  height: 400px;
}

.Home .showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 130px;
}

.Home .showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2;
}

.Home .showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7;
}

.Home .showcase:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.Home .showcase * {
  position: relative;
  z-index: 1;
}

.Home .cards,
.SearchPage .cards {
  margin-bottom: 30px;
}

.Home .cards h2 {
  font-size: 30px;
  line-height: 1.6;
  margin: 25px 0;
  text-align: center;
}

.HomeCards,
.PetsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomeCards .pet-cards,
.PetsContainer .pet-cards {
  margin-bottom: 30px;
}

.PetsContainer h1 {
  margin: 40px 0;
}

.HomeCards .see-more {
  width: 88%;
}

/* Page Nav */
.PageNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PageNav .flex-item {
  margin-right: 10px;
}

.PageNav p {
  font-weight: bold;
}

.PageNav .arrow {
  color: var(--primary-color);
}

.PageNav .arrow:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Pet Cards */
.pet-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  align-items: center;
  /* padding: 0 40px; */
}

.PetCard {
  background: #fff;
  color: #000;
  box-shadow: 5px 5px 12px #ccc;
  border-radius: 15px;
  text-align: center;
  width: 200px;
}

.PetCard .btn {
  /* border-radius: 15px; */
  width: 100%;
}

.card-image {
  height: 250px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  object-position: center;
}

.card-details {
  padding: 5px 16px;
  margin-bottom: 5px;
}

.card-details h3,
.card-details p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-details * {
  margin-bottom: 5px;
}

/* Login & Signup Page & User Edit */
#login-form,
#signup-form {
  background: url("/images/background-1.jpg") no-repeat center center / cover;
  height: calc(100vh - var(--nav-height));
}

.UserEdit {
  background: url("/images/background-2.jpg") no-repeat center center / cover;
  height: calc(100vh - var(--nav-height));
}

#login-form .form-container,
#signup-form .form-container,
.UserEdit .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

#login-form h2,
#signup-form h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
}

.UserEdit h2 {
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

#login-form h3,
#signup-form h3 {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
}

#login-form .form-group,
#signup-form .form-group,
.UserEdit .form-group {
  margin-bottom: 20px;
}

#login-form label,
#signup-form label,
.UserEdit label {
  display: block;
  margin-bottom: 5px;
}

#login-form input,
#signup-form input,
.UserEdit input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px var(--primary-color) solid;
}

#login-form .btn,
#signup-form .btn,
.UserEdit .btn {
  border-radius: 15px;
  width: 100%;
}

#login-form p {
  text-align: center;
}

#signup-form .form-container .form-content,
.UserEdit .form-container .form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form .form-container .flex-container,
.UserEdit .form-container .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form .form-container .flex-container .flex-group,
.UserEdit .form-container .flex-container .flex-group {
  margin: 5px;
}

/* Image Slider */
.ImageSlider {
  display: flex;
  align-content: center;
  justify-content: center;
  /* background-color: black; */
}

.ImageSlider img {
  height: 450px;
  width: 80vw;
  object-fit: contain;
  background-color: black;
}

.ImageSlider button {
  padding: 0 20px;
  width: 10vw;
  background-color: black;
  color: white;
  border: none;
}

.ImageSlider button:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.ImageSlider button:focus {
  outline: none;
}

/* PetDetails */
.PetDetails {
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 12px #ccc;
  padding: 30px 50px;
}

.PetDetails h1 {
  margin-bottom: 20px;
}

.PetDetails .pet-info {
  border-bottom: solid 1px black;
  padding-bottom: 20px;
}

.PetDetails .pet-info li,
.PetDetails .pet-contact li {
  margin-bottom: 10px;
}

.PetDetails .pet-contact h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Pet Page */
.PetPage {
  background-color: var(--light-color);
}

.PetPage .flex-container {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
}

.PetPage .flex-item {
  margin: 50px 30px;
}

.PetPage .btn {
  display: block;
  width: 200px;
  border-radius: 30px;
  padding: 20px 40px;
  text-transform: uppercase;
  /* border: 1px solid blue; */
  margin-bottom: 30px;
}

/* Profile  */
.Profile {
  background-color: var(--light-color);
  /* height: calc(100vh - var(--nav-height)); */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* padding: 30px 0; */
  overflow: auto;
}

.Profile .flex-item:nth-child(1) {
  margin-top: 50px;
}

.Profile .flex-item {
  margin-bottom: 50px;
}

/* UserInfo */
.UserInfo {
  /* border: 1px solid black; */
  box-shadow: 5px 5px 12px #ccc;
  background-color: white;
  border-radius: 15px;
  padding: 50px 0;
  width: 950px;
}

.UserInfo h1 {
  margin-bottom: 20px;
}

.UserInfo li {
  margin-bottom: 10px;
}

.UserInfo button {
  float: right;
}

/* MyLikes */
.MyLikes {
  box-shadow: 5px 5px 12px #ccc;
  background-color: white;
  border-radius: 15px;
  padding: 50px 30px;
  /* width: 700px; */
}

.MyLikes h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Old Styles */
/* .App {
  text-align: center;
}

.Login,
.SignUp,
.UserEdit {
  border: solid;
  border-radius: 20px;
  width: 450px;
  padding: 20px;
  display: inline-block;
  margin: 100px auto;
  background: #fff;
}

.page-nav {
  margin: 20px;
} */

/* .cards-container {
  width: 950px;
  display: inline-block;
} */

/* .pet-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
} */

/* .spinner {
  display: inline-block;
  margin: 100px auto;
} */
/* .carousel {
  background: black;
} */

/* .pet-image {
  height: 400px;
  object-fit: contain;
} */

/* ul {
  list-style-type: none;
} */
