.App {
  text-align: center;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Login {
  border: solid;
  border-radius: 20px;
  width: 450px;
  padding: 20px;
  display: inline-block;
  margin: 100px auto;
}

.SignUp {
  border: solid;
  border-radius: 20px;
  width: 450px;
  padding: 20px;
  display: inline-block;
  margin: 100px auto;
}

.UserEdit {
  border: solid;
  border-radius: 20px;
  width: 450px;
  padding: 20px;
  display: inline-block;
  margin: 100px auto;
}

.PetCards, .MyLikes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.PetCard {
  background: #424242;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  box-shadow: 5px 5px 12px #686868;
}

.carousel {
  background: black;
}

.pet-image {
  height: 400px;
  object-fit: contain;
}

/* .pet-details {
  display: inline;
  float: left;
  width: 50%;
}

.pet-contact {
  display: inline;
  float: left;
  width: 50%;
} */

ul {
  list-style-type: none;
}

.card-image {
  height: 225px;
  object-fit: cover;
  object-position: center;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
